/* General glases */
.fa-facebook-square,
.fa-youtube,
.fa-twitter,
.fa-instagram,
.fa-pinterest,
.fa-facebook,
.fa-envelope {
  color: white;
}

/* Color */
.orange {
  color: #fb7042;
}

.black {
  color: #000;
}

/* Fonts & Font style */
body {
  font-family: 'Roboto', sans-serif;
}

.bold {
  font-weight: bold;
}

.inline {
  display: inline;
}

.none {
  list-style-type: none;
}

.no-underline {
  text-decoration: none;
}

/* ul and links */

.list {
  display: block;
  margin-bottom: 5px;
}

.nav_link {
  text-decoration: none;
}

.flink {
  color: #fff;
}

/* Footer */
footer {
  box-sizing: border-box;
  width: 100%;
}

.logo {
  display: inline-block;
  height: 9px;
  margin-right: 1px;
  vertical-align: baseline;
}

.upperf {
  background-color: rgb(19, 19, 19);
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright {
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
}

.copyrigh > p {
  font-size: 5px;
}

.bicon {
  background-color: rgba(0, 0, 0, 0.363);
  border-color: rgba(0, 0, 0, 0.363);
  border: none;
  border-radius: 50%;
  width: 10%;
}

/* Nav bar style */

#header-container {
  position: fixed;
  width: 100%;
}

#black-header-line {
  display: none;
}

#white-header-line {
  display: none;
}

#yellow-header-line {
  background-color: rgb(236, 191, 68);
  font-size: 12px;
  height: 40px;
  padding-top: 10px;
  padding-left: 20px;
  text-align: center;
}

#small-top-line {
  background-color: white;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgrey;
}

#small-right {
  margin-top: 12px;
  margin-right: 10px;
}

.small-right-img {
  padding-left: 10px;
  border-left: 1px solid lightgrey;
}

/* Highlights style */
#highlights-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}

.img-h {
  margin-bottom: 7px;
  margin-right: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 35vw;
  text-align: left;
  justify-content: flex-end;
  padding-bottom: 10px;
}

#img-h1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)), url("https://cutt.ly/2x4HLcp");
}

#img-h2 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)), url("https://cutt.ly/hx4Hxf3");
}

#img-h3 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)), url("https://cutt.ly/zx4Jwz6");
}

.highlight-txt {
  color: white;
  font-size: 12px;
  margin-top: 80px;
}

.highlights-h {
  font-size: 17px;
}

.hi-ul {
  margin-left: 10px;
}

h2 {
  margin-left: 10px;
  margin-bottom: 10px;
}

#top-span {
  display: none;
}

/* Flexbox */

.sflex {
  display: flex;
  flex-flow: column wrap;
}

.sjaround {
  justify-content: space-around;
}

.sjbetween {
  justify-content: space-between;
}

.cflex {
  display: flex;
  flex-flow: column wrap;
}

.acenter {
  align-items: center;
}

/* Latest funds */
.sfund {
  background-color: #fdeadf;
  width: 100%;
  margin-top: 20px;
}

.sfund > img {
  width: 100%;
}

.mb2 {
  margin-bottom: 20px;
}

/* Footer */
.socials {
  margin-bottom: 10px;
  width: 50%;
}

@media (max-width: 767px) {
  #space {
    display: none;
  }
}

/* Tablette */

@media screen and (min-device-width: 768px) {
  /* flexbox */
  .flex {
    display: flex;
    flex-flow: row wrap;
  }

  .jcenter {
    justify-content: center;
  }

  .cflex {
    display: flex;
    flex-flow: column wrap;
  }

  .jbetween {
    justify-content: space-between;
  }

  .jevenly {
    justify-content: space-evenly;
  }

  .socials {
    margin-bottom: 10px;
    width: 40%;
  }

  /* Funds */
  .lsec {
    margin-top: 20px;
  }

  .ltitle {
    font-size: 20px;
  }

  /* nab-bar */

  #small-top-line {
    display: none;
  }

  .left-nav-div {
    margin-left: 10px;
  }

  #black-header-line {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    background-color: black;
    color: white;
  }

  .black-link {
    color: lightgrey;
    font-size: 12px;
    padding-right: 20px;
  }

  .black-link:hover {
    font-weight: bold;
  }

  #news {
    font-weight: 600;
  }

  .white-link {
    color: grey;
    font-size: 14px;
    padding-right: 30px;
  }

  .white-link:hover {
    color: #000;
    font-weight: 600;
  }

  #white-header-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    color: black;
    background-color: white;
  }

  #white-right-nav-div {
    margin-right: 20px;
    margin-top: 10px;
    border-left: 1px solid lightgrey;
    padding-left: 10px;
  }

  #white-left-nav-div {
    padding-top: 15px;
  }

  #yellow-header-line {
    text-align: left;
    padding-top: 20px;
    height: 30px;
  }

  /* Higlights style */

  @media (max-width: 768px) {
    #top-span {
      display: none;
    }
  }

  #highlights-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 36vw;
  }

  #img-h1 {
    width: 68%;
    height: 98%;
    margin-left: 10px;
  }

  #two-container {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 100%;
    margin-right: 0;
    padding: 0;
    justify-content: space-between;
  }

  #img-h2 {
    margin-top: 0;
    height: 43%;
  }

  #img-h3 {
    height: 43%;
  }

  .highlight-txt {
    color: white;
    font-size: 12px;
  }

  .highlights-h {
    font-size: 25px;
  }

  #high2-h2,
  #high3-h2 {
    font-size: 15px;
    margin-top: 80px;
    margin-bottom: 5px;
  }

  #ul-h-2,
  #ul-h-3 {
    font-size: 8px;
  }
}

/* Large screen */

@media screen and (min-device-width: 1024px) {
  .list {
    display: inline;
  }

  /* flexbox */

  .flex {
    display: flex;
    flex-flow: row wrap;
  }

  .jcenter {
    justify-content: center;
  }

  .cflex {
    display: flex;
    flex-flow: column wrap;
  }

  .jaround {
    justify-content: space-around;
  }

  .jbetween {
    justify-content: space-between;
  }

  .jevenly {
    justify-content: space-evenly;
  }

  /* highlights */

  #img-h1 {
    background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152646oe_/https:/cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg"), linear-gradient(rgba(255, 51, 51, 0.2), rgba(0, 0, 0, 1)), url("https://cutt.ly/2x4HLcp");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 30% 30%, cover, cover;
    background-position: 2% 0, center, center;
  }

  #highlights-container {
    width: 100%;
    height: 32vw;
  }

  #img-h2 {
    height: 14vw;
  }

  #img-h3 {
    height: 14vw;
  }

  .highlight-txt {
    color: white;
    font-size: 17px;
  }

  .highlights-h {
    font-size: 3em;
  }

  #high1-h2 {
    font-size: 2em;
  }

  /* Latest funds */
  .lsec {
    width: 80%;
    margin: auto;
  }

  .lsec > header {
    margin-top: 20px;
  }

  .ltitle {
    font-size: 20px;
  }

  .fund {
    background-color: #fdeadf;
    width: 23%;
    margin-top: 20px;
  }

  .fund > img {
    width: 100%;
  }

  .socials {
    margin-bottom: 10px;
    width: 10%;
  }
}
